html, body {
    margin: 0;
    padding: 0;
}

.hero {
    background: var(--linear-grad-blueish, linear-gradient(180deg, #F0F5FF 21.89%, #C9DEFF 104.16%));
    width: 100%;
}

.test-class {
    /* border: 2px solid red; */
}

.hero-content-container {
    display: flex;
    padding-bottom: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    flex: 1 0 0;
    align-self: stretch;
}

.hero-title {
    color: var(--ink-text-dark, #040F2A);
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 46px; /* 127.778% */
    letter-spacing: 0.72px;
}

.hero-text {
    color: var(--ink-info-dark, #5A5A5C);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 144.444% */
}

.subscribe-input {
    border-radius: 600px;
    border: 1px solid #D9D9DC;
    height: 48px;

    color: var(--ink-placeholder, #868686);

    font-family: Poppins;
    font-size: 16px;
    line-height: 22px; /* 137.5% */
}

.subscribe-button {
    border-radius: 6000px;
    background: var(--Light-Blue-blue-500, #4A8DFA);
    height: 48px;
    padding: 12px 20px;
    justify-content: center;
    gap: 6px;
    color: var(--ink-on-primary, #F7F9F9);
    font-family: Poppins;
    font-weight: 500;
    line-height: 19px; /* 118.75% */
    border: none;
}

/* Infinity moving cards */

.parent {
  display: flex;
  justify-content: flex-end; /* moves columns to right side */
  align-items: center;
  height: 500px;
}

.columns-wrapper {
  display: flex;
  gap: 20px;

}

.image-column {
  height: 400px;
  width: 150px;
  overflow: hidden;
  border-radius: 12px;
}

.track {
  display: flex;
  flex-direction: column;
}

.track img {
  width: 100%;
  /* height: 150px; */
  object-fit: cover;
  margin: 5px 0;
}

/* Up Animation */
.up {
  animation: scrollUp 40s linear infinite;
}

/* Down Animation */
.down {
  animation: scrollDown 40s linear infinite;
}

@keyframes scrollUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50%);
  }
}

@keyframes scrollDown {
  from {
    transform: translateY(-50%);
  }
  to {
    transform: translateY(0);
  }
}
