html, body {
    margin: 0;
    padding: 0;
}

.main-section {
  width: 100%;
}

.gradient-setcin-bg {
  background: var(--linear-grad-blueish, linear-gradient(180deg, #F0F5FF 21.89%, #C9DEFF 104.16%));
}

.hero-container {
  height: 100vh;
  display: flex;
  align-items: center;
}

.hero-content-container {
    display: flex;
    padding-bottom: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    flex: 1 0 0;
    align-self: stretch;
}

.hero-title {
    color: var(--ink-text-dark, #040F2A);
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 46px; /* 127.778% */
    letter-spacing: 0.72px;
}

.hero-text {
    color: var(--ink-info-dark, #5A5A5C);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 144.444% */
}

.subscribe-input {
    border-radius: 600px;
    border: 1px solid #D9D9DC;
    height: 48px;
    width: 100%;
    color: var(--ink-placeholder, #868686);
    padding: 0 20px;
    font-family: Poppins;
    font-size: 16px;
    line-height: 22px; /* 137.5% */
    margin-bottom: 8px;
}

.subscribe-input:focus {
  outline: none;
}

.subscribe-button {
    border-radius: 6000px;
    background: var(--Light-Blue-blue-500, #4A8DFA);
    height: 48px;
    padding: 12px 20px;
    justify-content: center;
    gap: 6px;
    color: var(--ink-on-primary, #F7F9F9);
    font-family: Poppins;
    font-weight: 500;
    line-height: 19px; /* 118.75% */
    border: none;
    min-width: max-content;
}

.subscribe-button:hover {
  background-color: #6ea3fb;
}


.parenting-container {
    height: 60vh;
    min-height: 500px;
    display: flex;
    align-items: center;
}

.parenting-image-container {

}

.parenting-image {

}

.sub-section-title {
  color: var(--ink-text-dark, #040F2A);
  font-family: Poppins;
  font-size: 32px;
  font-weight: 500;
  line-height: 40px; 
  letter-spacing: 0.64px;
  margin-bottom: 8px;
}

.sub-section-text {
  color: var(--ink-info-dark, #5A5A5C);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 137.5% */
  margin-bottom: 24px;
}

.parenting-list-container {

}

.parenting-list-item {
    display: flex;
    align-items: flex-end;
    gap: 8px;
    margin-bottom: 12px;
    color: var(--ink-text-secondary, #3564B2);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

.swipe-play-repeat-container {
  height: 40vh;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hpd-card-container {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
  border-radius: 20px;
  background: var(--linear-grad-blueish, linear-gradient(180deg, #F0F5FF 21.89%, #C9DEFF 104.16%));
}

.hpd-card-title {
  align-self: stretch;
  color: var(--ink-text-secondary, #3564B2);
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 25px; /* 125% */
  letter-spacing: 0.4px;
}

.hpd-card-text {
  align-self: stretch;
  color: var(--ink-info-dark, var(--ink-info-dark, #5A5A5C));
  font-family: Poppins;
  font-size: 16px;
  line-height: 22px; /* 137.5% */
}

.hpd-card-icon-container {
  width: 100%;
  text-align: right;
}

.sub-section-title-label {
  width: fit-content;
  display: flex;
  padding: 12px 16px;
  justify-content: center;
  align-items: flex-end;
  gap: 4px;
  border-radius: 600px;
  border: 0.5px solid var(--linear-grad-blueish, #F0F5FF);
  background: linear-gradient(189deg, var(--Light-Blue-blue-50, #EDF4FF) 4.62%, var(--Light-Blue-blue-100, #C7DCFD) 91.18%);
  color: var(--ink-text-secondary, #3564B2);
  /* Text - Medium/14 */
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 114.286% */
  margin-bottom: 16px;
}

.match-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
}

.bottom-gradient-bg {
  background: linear-gradient(180deg, #FEFFFF 21.89%, #CCE0FF 104.16%);
}

  .mockup-image-container {
    text-align: center;
  }

  .mockup-image-container img {
    max-width: 40vw;
  }

footer {
  background: var(--DarkBlue-darkblue-900, #040F2A);
  height: 20vh;
}

.footer-logo-container {

}

.footer-title {
  color: var(--brand-generic-white, #FFF);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px; /* 118.75% */
  margin-bottom: 16px;
}

.footer-text a,
.footer-text
{
  color: var(--ink-indicator, #C9CACB);
  /* text-align: center; */
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px; /* 125% */
  text-decoration: none;
  margin-bottom: 16px;
}

.footer-text a:hover {
  color: white;
}

.social-logo-container {
  gap: 5px
}

.social-icon {
  
}

/* *************** */
/* Infinity moving cards */
/* *************** */

.parent {
  display: flex;
  justify-content: flex-end; /* moves columns to right side */
  align-items: center;
  height: 500px;
}

.columns-wrapper {
  display: flex;
  gap: 20px;
  justify-content: center;

}

.image-column {
  height: 100vh;
  width: 40%;
  overflow: hidden;
  border-radius: 12px;
}

.track {
  display: flex;
  flex-direction: column;
}

.track img {
  width: 100%;
  object-fit: cover;
  margin: 5px 0;
}

/* Up Animation */
.up {
  animation: scrollUp 100s linear infinite;
}

/* Down Animation */
.down {
  animation: scrollDown 100s linear infinite;
}

@keyframes scrollUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50%);
  }
}

@keyframes scrollDown {
  from {
    transform: translateY(-50%);
  }
  to {
    transform: translateY(0);
  }
}

/* *************** */
/* Responsive design */
/* *************** */

@media (max-width: 426px) {
  .hero-title {
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; /* 125% */
    letter-spacing: 0.64px;
  }

  .hero-text {
    color: var(--ink-info-dark, #5A5A5C);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px
  }

  .hero-content-container { 
    padding: 20px;
  }

  .hero-container {
    height: auto;
  }

  .image-column {
    height: 45vh;
  }

  .subscribe-button-container {
    padding: 0 !important;
  }

  .subscribe-button {
    width: 100%;
  }

  .parenting-container {
    margin-top: 30px;
    height: auto;
  }

  .swipe-play-repeat-container {
    margin-top: 20px;
    height: auto;
    max-height: none;
  }

  .hpd-card-container {
    margin-bottom: 20px;
  }

  .match-container {
    height: auto;
  }

    .mockup-image-container img {
    max-width: 80vw;
  }

  footer {
    padding-top: 20px;
    height: auto;
  }

  .footer-item {
    margin-bottom: 24px;
  }
}


