:root {
    --cream-main: #E7E2D5;
    --lobster-main: #FF605E;
    --navy-blue: #576280;
    --font-main-1: 'Lora';
    --font-main-2: 'Poppins';
}

section {
  padding: 48px 0;
  overflow: hidden;
  position: relative;
}

.bg-cream {
  background-color: var(--cream-main);
}

.bg-navy {
  background-color: var(--navy-blue);
}

/* Navbar */
header {
  color: var(--navy-blue);
  background-color: white;
  padding: 16px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.logo a img {
  height: 50px;
}

nav {
  display: flex;
}

nav a {
  color: var(--navy-blue);
  text-decoration: none;
  padding: 10px 40px;
  font-family: var(--font-main-1);
  font-size: 24px;
  font-weight: 600;
}

nav a:hover {
  color: black;
}

.hamburger-menu-button {
  display: none;
  color: var(--navy-blue);
  background: none;
  border: none;
  padding: 10px 15px;
  font-size: 1.5em;
  cursor: pointer;
  font-weight: bold;
}

.hamburger-only {
  display: none;
}

@media (max-width: 768px) {
  nav {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: white;
    text-align: center;
    margin-top: 12px;
  }

  nav a {
    display: block;
    border-bottom: 1px solid var(--navy-blue);
    background-color: white;
    padding: 24px 16px;
    font-size: 18px;
    font-weight: bold;
  }

  .hamburger-menu-button {
    display: block;
  }

  .hamburger-only {
      display: block;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .normal-button {
    display: block;
  }

  .hamburger-menu-button {
    display: none;
  }
}

/* Styles when scrolled down */
body.scrolled header {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Hero */
.hero-container {
    height: 80vh;
    width: 100vw;
    padding: 75px 0;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.hero-title-container {
    display: flex;
    flex-direction: column;
}

.hero-title-container .sub-title {
    color: var(--navy-blue);
    font-size: 24px;
    font-family: var(--font-main-1);
}

.hero-title-container .main-title {
    color: var(--navy-blue);
    font-size: 80px;
    line-height: 80px;
    font-family: var(--font-main-2);
    font-weight: bold;
}

.hero-title-container .arrow-container {
  margin-top: 20px;
}

.arrow-path {
  fill: #FF605E;
}

.hero-title-container .arrow-container a svg:hover > path {
  fill: #C64644;
}

.hero-image-container img {
    width: 80%;
}


@media (max-width: 768px) {
    .hero-image-container img {
      width: 70%;
  }

  .hero-container {
    margin-top: 75px;
}
}

@media (max-width: 426px) {
  .hero-title-container .main-title {
    line-height: 70px;
    margin-top: 20px;
    font-size: 60px;
    line-height: 60px;
  }

  .hero-title-container {
    margin-top: 30px;
  }
}

/* Project gallery section */
.home-section-title {
  font-family: var(--font-main-2);
  font-size: 72px;
  color: var(--navy-blue);
}

.home-section-description {
  font-family: var(--font-main-2);
  font-size: 20px;
  color: var(--navy-blue);
}

.project-item-container {
  width: 100%;
}

.project-item-container {
  position: relative;
  margin-bottom: 10%;
}

.project-item-container img {
  width: 100%;
  border-radius: 20px;
}

.project-hover-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  opacity: 50%;
  top: 0;
  left: 0;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px 15%;
  text-align: center;
}

.project-hover-container .title {
  font-size: 48px;
  line-height: 48px;
  font-family: var(--font-main-2);
  color: #576280;
}

.project-hover-container .sub-title {
  font-size: 20px;
  font-family: var(--font-main-1);
  color: #576280;
  margin-top: 12px;
}

.project-hover-container:hover {
  border: 3px solid #343B4D;
}

@media (max-width: 768px) {
  .project-hover-container .title {
    font-size: 32px;
    line-height: 32px;
  }

  .project-hover-container .sub-title {
    font-size: 12px;
  }
}

@media (max-width: 426px) {
  .home-section-title {
    font-size: 32px;
  }

  .home-section-description {
    font-size: 14px;
  }
}

@media (max-width: 361px) {
  .project-hover-container .title {
    font-size: 24px;
  }

  .project-hover-container .sub-title {
    font-size: 12px;
  }
}

/* About me */
.about-me-logo {
  height: 78px;
}

.about-me-person {
  width: 50%;
}

.about-me-description {
  font-family: var(--font-main-1);
  font-size: 24px;
  color: var(--navy-blue);
  line-height: 115%;
  text-align: justify;
}

.about-me-logo-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media (max-width: 768px) {
  .about-me-logo-container {
    display: none;
  }

  .about-me-person-container {
    text-align: center;
  }
}

@media (max-width: 426px) {
  .about-me-title {
    font-size: 40px;
  }

  .about-me-description {
    font-size: 12px;
  }
}

/* Footer */
footer {
  width: 100%;
}

.social-media-icon-container {
  display: flex;
  justify-content: space-around;
}

.footer-mail {
  text-decoration: none;
  font-size: 24px;
  font-family: var(--font-main-1);
  color: var(--cream-main);
}

.footer-vertical-line {
  border-left: 1px solid var(--cream-main);
  height: 160px;
}

.footer-row-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.footer-vertical-line-container {
  display: block;
}

.footer-horizontal-line-container {
  display: none;
}

.footer-horizontal-line-container hr {
  border: 1px solid var(--cream-main);
  width: 90%;
  margin: auto
}

@media (max-width: 768px) {
  .footer-vertical-line-container {
    display: none;
  }
  .footer-horizontal-line-container {
    display: block;
  }
  
}
